.div {
  justify-content: center;
  margin: 1rem;
  max-height: 400px;
  overflow-y: hidden;
  overflow-y: scroll;
}

.div::-webkit-scrollbar {
  display: none;
}

.table {
  table-layout: fixed;
  color: black;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}

.trhead {
  background-color: rgb(190, 190, 190);
  /* height: 35px; */
}

/* .trow {
    height: 35px;
  } */

.th {
  font-weight: 500;
  font-size: 25px;
  padding: 0.2rem;
  color: rgb(33, 33, 33);
  text-transform: capitalize;
  border: 1px solid rgb(237, 237, 237);
}

.td {
  background-color: rgb(54, 54, 54);
  border: 1px solid rgb(237, 237, 237);
  color: white;
}

.a {
  color: rgb(193, 7, 7);
}

.img {
  width: 40%;
}
